# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt
flipkart_com-ecommerce_sample.csv
../.venv/
# --------------------
# Django
# --------------------
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --------------------
# Environment variables
# --------------------
.env
.env.*
!.env.example

# --------------------
# Migrations (optional)
# --------------------
# Uncomment if you want to ignore migrations
# */migrations/
# !*/migrations/__init__.py

# --------------------
# IDEs & Editors
# --------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Node / Frontend (if any)
# --------------------
node_modules/
dist/
build/

# --------------------
# Test / Coverage
# --------------------
.coverage
htmlcov/
.pytest_cache/
